<div class="row">
    <h1>Eduacacion</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        
        <ul>
            <li><h2>Estudio1</h2> - <h3>(years)</h3></li>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing
              elit. Ad itaque neque corporis laborum adipisci harum 
              omnis quidem culpa natus? Iste temporibus quae animi 
              possimus ullam quidem voluptate atque quasi aliquam.</p>
        </ul>
        <ul>
            <li><h2>Estudio2</h2> - <h3>(years)</h3></li>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing
              elit. Ad itaque neque corporis laborum adipisci harum 
              omnis quidem culpa natus? Iste temporibus quae animi 
              possimus ullam quidem voluptate atque quasi aliquam.</p>
        </ul>
        <ul>
            <li><h2>Estudio3</h2> - <h3>(years)</h3></li>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing
              elit. Ad itaque neque corporis laborum adipisci harum 
              omnis quidem culpa natus? Iste temporibus quae animi 
              possimus ullam quidem voluptate atque quasi aliquam.</p>
        </ul>
        <ul>
            <li><h2>Estudio4</h2> - <h3>(years)</h3></li>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing
              elit. Ad itaque neque corporis laborum adipisci harum 
              omnis quidem culpa natus? Iste temporibus quae animi 
              possimus ullam quidem voluptate atque quasi aliquam.</p>
        </ul>

    </div>

</div>