<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/fotoperfil.png" class="img-fluid" alt="mi foto" id="fotodeperfil">
    </div>


    <div class="col-xs-12 col-xs-2 col-md-2 col-lg-2">
        <p>Ibañez Natalia Veronica</p>
        <p>Full Stack Developer Jr</p>
   </div>

   <div class="col-xs-12 col-xs-8 col-md-8 col-lg-8">
      <span>
        <h1>Acerca de mi</h1>
         <p>Lorem ipsum dolor sit amet consectetur 
            adipisicing elit. Aperiam delectus animi
             voluptatibus itaque ipsam deleniti 
             exercitationem quo autem nemo. Non repellendus 
             numquam ut neque distinctio possimus. Aliquam
              aspernatur laudantium libero.</p>
      </span>
    </div>
</div>